<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<main class="container-fluid">

    <div class="row">
        <div class="col">
            <a th:href="@{/query/create}" class="btn btn-success mb-3">Create Query</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Query</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="query : ${queries}">
                    <td><a th:href="@{${'/query/detail/'+query.uid}}" th:text="${query.title}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>
</body>
</html>
