<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
    <title th:text="${query.title}">View Post</title>
</head>

<body>

<header th:replace="fragments :: navigation" />

<main id="queries">
    <article>
        <h2 class="title" th:text="${query.title}">Post Title</h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(query.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            <span th:if="${query.author}" th:remove="tag">
        <i>by</i>
        <span th:text="${query.author.firstName != null ?
                         query.author.firstName : query.author.lastName}">Svetlin Nakov</span>
        </span>
        </div>
        <p class="content" th:utext="${query.body}">Post content</p>
    </article>
</main>

<footer th:replace="fragments :: footer" />

</body>

</html>