
    <!--<link rel="icon" href="../public/public.img/favicon.ico"-->
          <!--th:href="@{/public.img/favicon.ico}" />-->
    <!--<script src="../public/public.js/jquery-3.3.1.min.js"-->
            <!--th:src="@{/public.js/jquery-3.3.1.min.js}"></script>-->
    <!--<script src="../public/public.js/blog-scripts.js" -->
            <!--th:src="@{/public.js/blog-scripts.js}"></script>-->
    <!--<meta th:include="this :: head" th:remove="tag"/>-->
<!--</head>-->
<!--<body>-->

<!--<nav th:fragment="navigation">-->
    <!--<nav>-->





<!--</nav>-->
<!--<p>Welcome to the Spring MVC Blog.</p>-->
<!--<footer th:fragment="site-footer">-->
    <!--&copy; Spring MVC Blog System, 2016-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->
    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:fragment="head">
        <meta charset="UTF-8" />
        <title th:text="${title}">Opinion Poll</title>


        <link rel="stylesheet" href="../public/css/styles.css"
              th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <nav>
        <a href="/">Home</a> |
    <a href="posts/index">Post</a> |
    <a href="posts/create">Create Post</a> |
    <a href="users/index">user</a>
    <a href="users/login">login</a> |
    <a href="users/register">register</a>
    <div id="logged-in-info">
        <span>Hello, <b>(user)</b></span>
        <form method="post" th:action="@{/users/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    <!--<ul id="messages" th:with="notifyMessages=${session[T(com.mycapstone.opinionpoll.services-->
          <!--.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">-->
        <!--<li th:each="msg : ${notifyMessages}" th:text="${msg.text}"-->
            <!--th:class="${#strings.toLowerCase(msg.type)}">-->
        <!--</li>-->
        <!--<span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(T(com.mycapstone.opinionpoll.-->
        <!--services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>-->

    <!--</ul>-->
</nav>


</nav>
<h1>Welcome</h1>
<p>Welcome to the Spring MVC Blog.</p>
<footer th:fragment="footer">
    &copy; Spring MVC Blog System, 2016
</footer>

</body>
</html>